<div class="main-page">
  <div class="back-button-row">
    <button mat-flat-button (click)="onClick()">
      <div class="back-button-text">BACK</div>
      <div class="image-vector">
        <img src="assets/back.png" alt="mario" />
      </div>
    </button>
  </div>
  <div class="grid-received-marios">
    <div class="received-marios">RECEIVED MARIOS:</div>
    <div class="grid-mario-container">
      <ng-container *ngFor="let mario of receivedMariosData | slice:0:9">
        <div class="grid-mario">
            <div class="rectangle-mario">
              <div class="image-user">
                <img src="assets/user.png" alt="mario" />
                <div class="from">From: {{ mario.sender.firstName }} {{ mario.sender.lastName.length > 6 ? mario.sender.lastName.slice(0, 4) + "..." : mario.sender.lastName }}</div>
              </div>
              <div class="image-star">
                <mat-icon [ngClass]="'star-icon-' + mario.mario.id">star</mat-icon>
                <div class="marios">{{ mario.mario.type.length > 15 ? mario.mario.type.slice(0, 18) + '...' : mario.mario.type }}</div>
              </div>
              <div class="theme">T: {{ mario.theme.length > 15 ? mario.theme.slice(0, 18) + '...' : mario.theme }}</div>
              <div class="message">{{ mario.comment.length > 30 ? mario.comment.slice(0, 59) + '...' : mario.comment }}</div>
              <div class="more">See more</div>
              <div class="example-button-pop">
                <button mat-button color="primary" (click)="Openpopup(mario)"></button>
              </div>
            </div>
          </div>
      </ng-container>
    </div>
  </div>
</div>
