<div class="main-page">
  <div class="back-button-row">
    <button mat-flat-button (click)="onClick()">
      <div class="back-button-text">BACK</div>
      <div class="image-vector">
        <img src="assets/back.png" alt="mario" />
      </div>
    </button>
  </div>
  <div class="grid-sent-marios">
    <div class="rectangle-add">
      <div class="container">
        <div class="image-head">
          <div class="image-user-sent"><img src="assets/user-sent.png" alt="mario" /></div>
          <div class="recognize">
            <mat-form-field class="example-chip-list">
              <mat-label>Who you want to recognize?</mat-label>
              <mat-chip-grid #chipGrid aria-label="Enter user">
                <mat-chip-row *ngFor="let user of users" (removed)="remove(user)">
                  {{ user.firstName }} {{ user.lastName }}
                  <mat-icon matChipRemove [attr.aria-label]="'remove ' + user.firstName + ' ' + user.lastName">cancel</mat-icon>
                </mat-chip-row>
              </mat-chip-grid>
              <input placeholder="Who you want to recognize?" #userInput [formControl]="userCtrl"
                     [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"/>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                  {{ user }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div *ngIf="marioForm.submitted && users.length === 0" class="error-message">
              Please select a user.
            </div>
          </div>
        </div>
        <form (submit)="onSubmit()" #marioForm="ngForm" novalidate>
          <div class="input-container-category">
            <div class="category-label">Select category:</div>
            <mat-chip-listbox aria-label="Fish selection">
              <mat-chip-option *ngFor="let category of categories" [value]="category.type"
                               (click)="selectedCategoryType = category.type">
                <div class="chip-content">
                  <mat-icon [ngClass]="getStarIconClass(category.type)">star</mat-icon>
                  <div class="category-name">{{ category.type }}</div>
                </div>
              </mat-chip-option>
            </mat-chip-listbox>
            <div *ngIf="marioForm.submitted && !selectedCategoryType" class="error-message">
              Please select a category.
            </div>
          </div>
          <div class="input-container">
            <div class="title-container">Title</div>
            <input type="text" maxlength="50" id="theme" [(ngModel)]="marioTheme" name="theme" required class="ng-touched"
                   [class.ng-invalid]="(marioForm.submitted && marioForm.controls['theme'].errors) || (!marioTheme && marioForm.submitted)">
            <div class="character-count">
              {{ marioTheme.length }} / 50 characters
            </div>
            <div *ngIf="marioForm.submitted && (!marioTheme || marioMessage.length === 0)" class="error-message">
              Please enter a theme.
            </div>
          </div>
          <div class="input-container">
            <div class="comment-container">Comment</div>
            <textarea maxlength="255" id="message" [(ngModel)]="marioMessage" name="message" rows="4" required class="ng-touched"
                      [class.ng-invalid]="(marioForm.submitted && marioForm.controls['message'].errors) || (!marioMessage && marioForm.submitted)"></textarea>
            <div class="character-count">
              {{ marioMessage.length }} / 255 characters
            </div>
            <div *ngIf="marioForm.submitted && (!marioMessage || marioMessage.length === 0)" class="error-message">
              Please enter a comment.
            </div>
          </div>
          <div class="input-container">
            <button type="submit" mat-raised-button color="primary" class="add-marios-button">
              <div class="send-text">SEND</div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
