<div class="main-page">
  <div class="back-button-row">
    <button mat-flat-button (click)="onClick()">
      <div class="back-button-text">BACK</div>
      <div class="image-vector">
        <img src="assets/back.png" alt="mario" />
      </div>
    </button>
  </div>
  <div class="grid-sent-marios">
    <div class="rectangle-add">
      <div class="container">
        <div class="image-head">
          <div class="image-user-sent"><img src="assets/user-sent.png" alt="mario" /></div>
          <div class="recognize">
            <mat-form-field class="example-chip-list">
              <mat-label>Who you want to recognize?</mat-label>
              <mat-chip-grid #chipGrid aria-label="Enter user">
                <mat-chip-row *ngFor="let user of users" (removed)="remove(user)">
                  {{ user }}
                  <button matChipRemove [attr.aria-label]="'remove ' + user">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
              <input placeholder="Who you want to recognize?" #userInput [formControl]="userCtrl"
                     [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"/>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                  {{ user }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <form (submit)="onSubmit()">
          <div class="input-container-category">
            <div class="category-label">Select category:</div>
            <mat-chip-listbox aria-label="Fish selection">
              <mat-chip-option color="primary" *ngFor="let category of categories.slice(0, 5)">
                <div class="chip-content">
                  <div class="category-icon"></div>
                  <div class="category-name">{{ category }}</div>
                </div>
              </mat-chip-option>
            </mat-chip-listbox>
          </div>
          <div class="input-container">
            <div class="title-container">Title</div>
            <input type="text" id="theme" [(ngModel)]="marioTheme" name="theme" required>
          </div>
          <div class="input-container">
            <div class="comment-container">Comment</div>
            <textarea id="message" [(ngModel)]="marioMessage" name="message" rows="4" required></textarea>
          </div>
          <button type="submit" mat-raised-button color="primary" class="add-marios-button">
            <div class="send-text">SEND</div>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
