<div class="main-page">
  <div class="grid">
    <div class="received">
      <div class="marios-section">
        <div class="rectangle">
          <div class="marios-text">RECEIVED MARIOS:</div>
          <div class="image">
            <img src="assets/mario.png" alt="mario" />
            <div class="marios-count">{{ receivedMariosCount }}</div>
          </div>
          <div class="example-button-row">
            <button mat-button (click)="onClickReceived()"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="sent">
      <div class="marios-section">
        <div class="rectangle">
          <div class="marios-text">SENT MARIOS:</div>
          <div class="image">
            <img src="assets/mario.png" alt="mario" />
            <div class="marios-count">{{ sentMariosCount }}</div>
          </div>
          <div class="example-button-row">
            <button mat-button (click)="onClickSent()"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="mario-button-row">
      <button mat-flat-button (click)="onClickAdd()">
        <div class="button-text">ADD MARIOS</div>
        <div class="image-vector">
          <img src="assets/img.png" alt="mario" />
        </div>
      </button>
    </div>
  </div>
  <div class="grid-last-marios">
    <div class="last_marios">LAST MARIOS:</div>
    <div class="grid-mario-container">
      <ng-container *ngFor="let mario of lastMariosData | slice:0:9">
        <div class="grid-mario">
          <div class="rectangle-mario">
            <div class="image-user">
              <img src="assets/user.png" alt="mario" />
              <div class="to" *ngIf="mario.isSender; else recipientBlock">
                To: {{ mario.recipientNames.length > 15 ? mario.recipientNames.slice(0, 15) + '...' : mario.recipientNames }}
              </div>
              <ng-template #recipientBlock>
                <div class="from">
                From: {{ mario.sender.firstName }} {{ mario.sender.lastName.length > 6 ? mario.sender.lastName.slice(0, 4) + '...' : mario.sender.lastName }}
                </div>
              </ng-template>
            </div>
            <div class="image-star">
              <mat-icon [ngClass]="'star-icon-' + mario.mario.id">star</mat-icon>
              <div class="marios">{{ mario.mario.type.length > 15 ? mario.mario.type.slice(0, 18) + '...' : mario.mario.type }}</div>
            </div>
            <div class="theme">T: {{ mario.theme.length > 15 ? mario.theme.slice(0, 18) + '...' : mario.theme }}</div>
            <div class="message">{{ mario.comment.length > 30 ? mario.comment.slice(0, 59) + '...' : mario.comment }}</div>
            <div class="more">See more</div>
            <div class="example-button-pop">
              <div *ngIf="mario.isSender; else recipBlock">
                <button mat-button color="primary" (click)="Openp(mario)"></button>
              </div>
              <ng-template #recipBlock>
                <button mat-button color="primary" (click)="Openpopup(mario)"></button>
              </ng-template>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
