<div class="main-page">
  <div class="back-button-row">
    <button mat-flat-button (click)="onClick()">
      <div class="back-button-text">BACK</div>
      <div class="image-vector">
        <img src="assets/back.png" alt="mario" />
      </div>
    </button>
  </div>
  <div class="grid-sent-marios">
    <div class="sent-marios">SENT MARIOS:</div>
    <div class="grid-mario-container">
      <ng-container *ngFor="let mario of sentMariosData; let last = last">
        <div class="grid-mario">
          <div class="rectangle-mario">
            <div class="image-user">
              <img src="assets/user.png" alt="mario" />
              <div class="to">To: {{ mario.recipientFirstName }} {{ mario.recipientLastName }} {{ !last ? ', ' : '' }}</div>
            </div>
            <div class="image-star">
              <mat-icon [ngClass]="'star-icon-' + mario.mario.id">star</mat-icon>
              <div class="marios">{{ mario.mario.type.length > 15 ? mario.mario.type.slice(0, 18) + '...' : mario.mario.type }}</div>
            </div>
            <div class="theme">T: {{ mario.theme.length > 15 ? mario.theme.slice(0, 18) + '...' : mario.theme }}</div>
            <div class="message">{{ mario.comment.length > 30 ? mario.comment.slice(0, 60) + '...' : mario.comment }}</div>
            <div class="more">See more</div>
            <div class="example-button-pop">
              <button mat-button color="primary" (click)="Openp(mario)"></button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
