.dialog-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.grid-info {
  display: flex;
  flex-direction: column;
  position: relative;
}

.grid-mario-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-star-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.to-marios-info {
  display: flex;
  align-items: center;
}

.to-info,
.marios-info,
.theme-info,
.message-info {
  font-family: 'Open Sans', serif;
  font-weight: 700;
}

.to-info {
  font-size: 20px;
  color: #EA808E;
  margin-right: 20px;
}

.marios-info {
  font-size: 22px;
  color: #000000;
}

.theme-info {
  font-size: 25px;
  color: #494949;
  margin-top: 20px;
}

.message-info {
  font-size: 18px;
  color: #A2A2A2;
  margin-top: 20px;
}

.mario-close-button-row {
  position: absolute;
}
