<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <div class="grid-info">
    <div class="grid-mario-info">
      <div class="from-info">From: {{ data.receiver.name  }} </div>
      <div class="image-star-info">
        <img src="assets/star.png" alt="mario" />
        <div class="marios-info">{{ data.marios }}</div>
      </div>
    </div>
    <div class="theme-info">{{ data.theme }}</div>
    <div class="message-info">{{ data.message }}</div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="mario-close-button-row">
    <button mat-icon-button (click)="onClickClose()">
      <mat-icon>close</mat-icon></button>
  </div>
</div>
